<script src="@Scripts.Url("~/Scripts/private/AutoJumpTo.js")" type="text/javascript"></script>
<div style="font-size: 16px; padding: 10px;">
    <label>对不起！获取数据失败或者您的操作不正确！</label>
    <span id= "timeout" style="color:Red;">10</span > 秒后自动跳转至首页
    <a href= "javascript:history.go(-1);" title="点击这里返回上一页" target="_parent">返回上一页</a >
</div>