<footer>
    <div class="float-left"><span>建议浏览器：IE 9、Chrome 23、Firefox 17、Opera 12、Safari 5 或更高版本；分辨率：1440 × 900 或更高</span></div>
    <div class="float-right">&copy; @DateTime.Now.Year - @GeneralHandler.SiteName by <a href="http://www.dawnxz.com" target="_blank">晨曦小竹</a></div>
    <div class="clearfix"></div>
</footer>