/* 工具条 Sidebar
--------------------------------------------------------------------------------*/
#sidebar {
    background: url('../images/bg-sidebar.gif') top left no-repeat;
    width: 230px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: #888;
}
    #sidebar #sidebar-wrapper {
        margin: 0 0 0 9px;
    }
    #sidebar a,
    #sidebar a:active {
        color: #ccc;
    }
        #sidebar a:hover {
            color: #fff;
        }
    #sidebar #sidebar-title {
        margin: 40px 0 40px 15px;
    }
    #sidebar #logo {
        margin: 40px 0 40px 0;
    }
    #sidebar #profile-links {
        padding: 0 15px 20px 15px;
        text-align: right;
        line-height: 1.5em;
    }
        #sidebar #profile-links p {
            line-height: 0.7em;
        }
/* 可折叠的工具条菜单 Sidebar Accordion Menu
--------------------------------------------------------------------------------*/
    #sidebar #main-nav {        
        width: 206px;
        padding: 0;
        margin: 0 0 0 15px;
    }
        #sidebar #main-nav li {
            list-style: none;
            padding-bottom: 10px;
            text-align: right;
        }
            #sidebar #main-nav li a.nav-top-item {
                background: transparent url('../images/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
                padding: 10px 15px;
                color: #fff;
                font-size: 14px;
                cursor: pointer;
                display: block;
                text-decoration: none;
            }
            #sidebar #main-nav li a.current {
                background-image: url('../images/bg-menu-item-current.gif') !important;
                color: #333;
                font-weight: bold;
            }
                #sidebar #main-nav li a.current:hover {
                    color: #333;
                }
        #sidebar #main-nav ul {
            padding: 0;
            font-size: 12px;
            margin: 0;
        }
            #sidebar #main-nav ul li {
                list-style: none;
                margin: 0;
                text-align: right;
                padding: 0;
            }
                #sidebar #main-nav ul li a {
                    padding: 8px 15px;
                    display: block;
                    color: #aaa;
                    font-size: 13px;
                    line-height: 1.2em;
                }
                    #sidebar #main-nav ul li a:hover,
                    #sidebar #main-nav ul li a.current,
                    #sidebar #main-nav ul li a.current:hover {
                        color: #fff;
                    }
                    #sidebar #main-nav ul li a.current {
                        background: transparent url('../images/menu-current-arrow.gif') right center no-repeat !important;
                    }
/* 编辑区域 Editor Content
--------------------------------------------------------------------------------*/
h1 {
    padding: 0;
}
/*  验证规则 Validator
----------------------------------------*/
.validator-tip {
    display: none;
    position: absolute;
    z-index: 999;
    width: 240px;
    border: 1px solid #40B3FF;
    background: #E5F5FF url(../images/msg_bg.png) 5px -143px no-repeat;
    font-size: 12px;
    color: #666;
    padding: 5px 5px 5px 26px;
    line-height: 20px;
    text-align: left;
    overflow: hidden;
}
    .validator-tip a {
        font-weight: bold;
        padding: 0 5px;
        cursor: pointer;
        color: #039;
    }
.validate-pass {
    background: #E6FFE6 !important;
    border: 1px solid #00BE00 !important;
}
.validate-ico-pass {
    background: transparent url(../images/msg_bg.png) 5px -243px no-repeat;
    border: none;
    text-indent: -99999px;
    width: 50px;
}
.validate-error {
    background: #FFF2E9 !important;
    border: 1px solid #F60 !important;
}
.validate-ico-error {
    background: transparent url(../images/msg_bg.png) 5px 7px no-repeat;    
    border: none;
    text-indent: -99999px;
    width: 50px;
}
span.security-level0 {
    float: left !important;
    margin-top: 8px !important;
    width: 220px !important;
    height: 20px !important;
    line-height: 20px !important;
    background: transparent url(../images/levels.gif) left 0% no-repeat !important;
    overflow: hidden !important;
}
span.security-level1 {
    float: left !important;
    margin-top: 8px !important;
    width: 220px !important;
    height: 20px !important;
    line-height: 20px !important;
    background: transparent url(../images/levels.gif) left 25% no-repeat !important;
    overflow: hidden !important;
}
span.security-level2 {
    float: left !important;
    margin-top: 8px !important;
    width: 220px !important;
    height: 20px !important;
    line-height: 20px !important;
    background: transparent url(../images/levels.gif) left 50% no-repeat !important;
    overflow: hidden !important;
}
span.security-level3 {
    float: left !important;
    margin-top: 8px !important;
    width: 220px !important;
    height: 20px !important;
    line-height: 20px !important;
    background: transparent url(../images/levels.gif) left 75% no-repeat !important;
    overflow: hidden !important;
}
span.security-level4 {
    float: left !important;
    margin-top: 8px !important;
    width: 220px !important;
    height: 20px !important;
    line-height: 20px !important;
    background: transparent url(../images/levels.gif) left 100% no-repeat !important;
    overflow: hidden !important;
}
/* 内容字段 - Field
----------------------------------------*/
.field-item {
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 0 10px 0;
    width: 98%;
    min-height: 26px;
    line-height: 26px;
    clear: both;
}
    .field-item ol {
        text-align: left;
        float: left;
    }
    .field-item label,
    .field-item input,
    .field-item select,
    .field-item textarea {
        float: left;
        margin-right: 5px;
        display: inline;
    }
    .field-item label {
        float: left;
        height: 32px;
        line-height: 32px;
        width: 100px;
        text-align: right;
        overflow: hidden;
    }
    .field-item span {
        float: left;
        height: 32px;
        line-height: 32px;
        display: inline;
        overflow: hidden;
    }
    .field-item select {
        margin-top: 3px;
        _margin-top: 1px;
    }
    .field-item textarea {
        min-height: 120px;
    }
    .field-item p {
        margin-top: 5px;
        padding-left: 120px;
    }
        .field-item p input {
            float: none;
        }
    .field-item ul {
        padding: 0 !important;
        text-align: left;
        float: left;
        height: 32px;
        line-height: 32px;
    }
        .field-item ul li {
            padding: 0 4px !important;
            float: left;
            background-image: none !important;
        }
/* 内容备注 - Memo
----------------------------------------*/
.field-memo {
    margin: 0 auto;
    width: 98%;
    clear: both;
}
    .field-memo label {
        float: left;
        display: inline;
        margin-right: 10px;
        text-align: right;
        width: 100px;
        overflow: hidden;
    }
    .field-memo span {
        float: left;
        width: 480px;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
    }
/* 内容控件 - Input
----------------------------------------*/
div .field-item .off {
    background: #f5f5f5 !important;
}
div .field-item label {
    display: block;
    padding: 0 0 10px;
    font-weight: bold;
}
div .field-item input.input-text,
div .field-item select,
div .field-item textarea {
    padding: 6px;
    font-size: 13px;
    background: #fff url('../images/bg-form-field.gif') top left repeat-x;
    border: 1px solid #d5d5d5;
    color: #333;
}
div .field-item select {
    padding: 4px;
}
div .field-item input[type="checkbox"],
div .field-item input[type="radio"] {
    padding: 0;
    background: none;
    border: 0;
}
/* 内容控件 - 固定的宽度·Fixed
----------------------------------------*/
div .field-item .fixed60 {
    width: 60px !important;
}
div .field-item .fixed80 {
    width: 80px !important;
}
div .field-item .fixed100 {
    width: 100px !important;
}
div .field-item .fixed120 {
    width: 120px !important;
}
div .field-item .fixed160 {
    width: 160px !important;
}
div .field-item .fixed180 {
    width: 180px !important;
}
div .field-item .fixed200 {
    width: 200px !important;
}
div .field-item .fixed240 {
    width: 240px !important;
}
div .field-item .fixed260 {
    width: 260px !important;
}
div .field-item .fixed300 {
    width: 300px !important;
}
div .field-item .fixed350 {
    width: 350px !important;
}
/* 内容控件 - 百分比宽度·Percent
----------------------------------------*/
div .field-item .percent5 {
    width: 5% !important;
}
div .field-item .percent10 {
    width: 10% !important;
}
div .field-item .percent15 {
    width: 15% !important;
}
div .field-item .percent20 {
    width: 20% !important;
}
div .field-item .percent25 {
    width: 25% !important;
}
div .field-item .percent30 {
    width: 30% !important;
}
div .field-item .percent35 {
    width: 35% !important;
}
div .field-item .percent40 {
    width: 40% !important;
}
div .field-item .percent45 {
    width: 45% !important;
}
div .field-item .percent50 {
    width: 50% !important;
}
div .field-item .percent55 {
    width: 55% !important;
}
div .field-item .percent60 {
    width: 60% !important;
}
div .field-item .percent65 {
    width: 65% !important;
}
div .field-item .percent70 {
    width: 70% !important;
}
div .field-item .percent75 {
    width: 75% !important;
}
div .field-item .percent80 {
    width: 80% !important;
}
div .field-item .percent85 {
    width: 85% !important;
}
div .field-item .percent90 {
    width: 90% !important;
}
div .field-item .percent95 {
    width: 95% !important;
}
div .field-item .percent100 {
    width: 97.5% !important;
    font-size: 16px !important;
    padding: 8px !important;
}